body{

font-family:Arial;
text-align:center;
background:#f5efe6;

}


.container{

position:relative;
width:720px;
margin:auto;

}


video{

width:720px;
border-radius:20px;

}


canvas{

position:absolute;
left:0;
top:0;

width:720px;
height:540px;

}


button{

margin-top:20px;
padding:12px 30px;
border-radius:20px;
border:none;
cursor:pointer;

}
